.DS_Store
*.pyc
instance/
__pycache__
.vscode
.pytest_cache
.coverage
htmlcov/
dump.sql
mysql-dumps/*


# For playground purposes
curator_env/

# Self signed certs for test deployment
certs/
# Insertion logs
insert_logs/